<h1>Products</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categorias</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%=product.name%></td>
          <td><%=product.price%></td>
          <td>
            <%product.categories.each do |c| %>
              <%=c.name%>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
